<div class="aboutPage">
  <div class="aboutImage1">
    <img id="homeImage" src="/assets/JustinDoty.jpg" alt="picture of justin doty"/>
  </div>
<div class="aboutMeDiv">
  <h1>About Me</h1>
  <br /><br />
  <h2>I am a full stack software engineering graduate of Prime Digital Academy. I have a passion for front-end develoment, and love building useful as well as beautiful appications.</h2>
  <br/><br/>
  <h2>I love meeting new clients and helping them turn their ideas into reality. I believe that with dedication, honesty, loyalty, a great team, and laughter, anything is possible.</h2>
</div>
</div>
