html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Everthing above is the reset. DONT CHANGE*/


/*////////////////////////////////////////////*/

html {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

body {
    width: 100%;
    height: 100%;
    background-color: white;
    font-size: 62.5%;
    font-family: 'Fjalla One', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    height: 6%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.nameLink {
    float: left;
    margin: .5em 0 .3em .4em;
    font-size: 2.5em;
    font-family: 'Fjalla One', sans-serif;
    color: rgb(237, 237, 237);
}

.nav h2 {
    margin: .5em 1em .3em 0;
    font-size: 2.5em;
    float: right;
    font-family: 'Fjalla One', sans-serif;
    color: rgb(237, 237, 237);
}


/*~~~~~~~~HOME PAGE~~~~~~~~~~~*/

.home {
    clear: both;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url('/assets/mountainView.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.homeBGimage {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
}

.homeContent {
    height: 30%;
    max-width: 60%;
    /*margin: auto;*/
    padding-top: 10%;
    margin-left: 25%;
}

.homeContent h1 {
    color: rgb(230, 230, 230);
    line-height: 1.5em;
    font-size: 5em;
}


/*~~~~~~~~ABOUT PAGE~~~~~~~~~~~*/

.about {
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    height: 100%;
    background-color: #4F9BFD;
}

.aboutImage1 img {
    width: 20%;
    height: 200px;
    border-radius: 20%;
}

#largeScreenImg {
    margin-left: 15%;
    width: 20%;
    height: 200px;
    border-radius: 20%;
}

.aboutMeDiv {
    width: 80%;
    margin: auto;
    margin-top: 4%;
    padding: 10px 10px 10px 10px;
    height: 100%;
}

.aboutMeDiv h1 {
    /*float: right;*/
    text-align: center;
    font-size: 30px;
    line-height: 1em;
    color: rgb(0, 0, 0);
}

.aboutMeDiv h2 {
    text-align: center;
    line-height: 1.8em;
    font-size: 25px;
    color: rgb(0, 0, 0);
}


/*~~~~~~~~~WORK PAGE~~~~~~~~~*/

.work {
    display: block;
    height: 120%;
}

.projectsLeft {
    width: 40%;
    float: left;
    margin-left: 3%;
    height: 100%;
    text-align: center;
}

.projectsLeft h1 {
    margin-top: 7%;
    padding-top: 10px;
    margin-bottom: 2%;
    font-size: 4em;
}

.projectsLeft h2 {
    display: block;
    font-size: 2.5em;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
    padding: 10px;
    line-height: 1.5em;
}

.projectsLeft button {
    display: table;
    font-size: 2.5em;
    color: rgb(0, 0, 0);
    margin: auto;
    padding: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    line-height: 1.5em;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.projectsLeft button:hover {
    background-color: rgb(150, 150, 150);
    text-decoration: none;
    border: none;
}

.displayProjectsRight {
    width: 50%;
    height: 80%;
    float: left;
    margin-top: 3%;
    margin-left: 5%;
    background-image: url("/assets/monitorBG3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.displayProjectsRight h1 {
    font-size: 50px;
    color: white;
}

.monitorDisplay {
    position: relative;
    top: 2.0%;
    left: 2.8%;
    height: 40%;
    width: 94%;
    /*background-color: blue;*/
}

#golf img {
    height: 100%;
    width: 100%;
}
.monitorDisplay button:focus {
    outline: 0;
    text-decoration: none;
}

.buttonDiv button {
    background-color: transparent;
    border: none;
}
.buttonDiv {
  position: absolute;
  z-index: 2;
  top: 60%;
  width: 100%;
}

#forward {
  float: right;
  font-size: 5em;
}
#back {
  float: left;
  font-size: 5em;
}


#cti img {
    height: 100%;
    width: 100%;
}



/*~~~~~~~~~~~CONTACT PAGE~~~~~~~~*/

.contact {
    display: block;
    background-color: rgb(110, 155, 211);
    height: 50%;
}

.contact h1 {
    display: block;
    text-align: center;
    font-size: 3em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact h2 {
    display: block;
    padding-top: 20px;
    width: 300px;
    margin: auto;
    text-align: center;
    font-size: 2.5em;
}

.contact a {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 5% 0 0 10%;
}

#linkedin img {
    padding-bottom: 40px;
    width: 110%;
}

#firsta {
    margin-left: 30%;
}

.contact img {
    width: 100%;
}

footer {
    height: 6em;
}

footer h1 {
    font-size: 1.5em;
    text-align: center;
    padding-top: 40px;
}


/*~~~~~~~MEDIA QUIRIES~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media screen and (min-width: 2000px) {
    header {
        height: 4%;
    }
    .home {
        height: 100%;
        background-size: 100%;
    }
    .nav h2 {
        margin-left: .5em;
    }
    .about {
        width: 100%;
        height: 30%;
        flex-flow: row;
        flex-wrap: nowrap;
        padding-top: 0;
        align-content: flex-end;
    }
    .aboutImage1 img {
        width: 20%;
        height: 20%;
        float: left;
    }
    .aboutMeDiv {
        height: 15%;
        width: 50%;
        background-color: #4F9BFD;
        margin-top: 15px;
    }
    .aboutMeDiv h1 {
        text-align: center;
        font-size: 3.5em;
        line-height: 1em;
    }
    .aboutMeDiv h2 {
        text-align: center;
        line-height: 1.8em;
        font-size: 2.5em;
    }
    /*~~~~~~~~~WORK PAGE~~~~~~~~~*/
    .work {
        display: block;
        height: 100%;
    }
    .projectsLeft {
        display: inline-block;
        width: 40%;
        float: left;
        margin-left: 3%;
        height: 100%;
        text-align: center;
    }
    .projectsLeft h1 {
        margin-top: 7%;
        padding-top: 10px;
        margin-bottom: 2%;
        font-size: 5em;
    }
    .projectsLeft h2 {
        display: block;
        font-size: 2.5em;
        margin-bottom: 15px;
        padding: 10px;
        line-height: 1.5em;
    }
    .projectsLeft button {
        display: table;
        font-size: 3em;
        margin: auto;
        padding: 10px;
        margin-top: 5%;
        margin-bottom: 5%;
        line-height: 1.5em;
        -moz-box-shadow: 2px 2px 2px rgb(120, 120, 120);
        -webkit-box-shadow: 2px 2px 2px rgb(120, 120, 120);
        box-shadow: 2px 2px 2px rgb(120, 120, 120);
    }
    .projectsLeft button:hover {
        background-color: rgb(150, 150, 150);
        text-decoration: none;
        border: none;
    }
    .displayProjectsRight {
        width: 50%;
        height: 90%;
        float: left;
        margin-top: 3%;
        margin-left: 5%;
    }
    .displayProjectsRight h1 {
        font-size: 50px;
        color: white;
    }
    .monitorDisplay {
        position: relative;
        top: 3.5%;
        left: 2.8%;
        height: 53%;
        width: 94%;
        /*background-color: blue;*/
    }
    #golf img {
        height: 100%;
        width: 100%;
    }
    #cti img {
        height: 100%;
        width: 100%;
    }
    .buttonDiv {
      position: absolute;
      z-index: 2;
      top: 50%;
      width: 100%;
    }
    #forward {
      float: right;
      font-size: 6em;
    }
    #back {
      float: left;
      font-size: 6em;
    }
    /*~~~~~~~~~~~CONTACT PAGE~~~~~~~~*/
    .contact {
        display: block;
        background-color: rgb(110, 155, 211);
        height: 45%;
    }
    .contact h1 {
        display: table;
        margin: auto;
        padding-top: 2%;
        font-size: 5em;
    }
    .contact h2 {
        display: block;
        width: 50%;
        padding-top: 20px;
        text-align: center;
        font-size: 4em;
    }
    .contact a {
        display: inline-block;
        height: 200px;
        width: 200px;
        margin: 4% 0 0 10%;
    }
    #linkedin img {
        padding-bottom: 40px;
        width: 110%;
    }
    #firsta {
        margin-left: 28%;
    }
    .contact img {
        width: 100%;
    }
    footer {
        height: 5%;
    }
    footer h1 {
        font-size: 3em;
        text-align: center;
        padding-top: 2%;
    }
}

@media screen and (max-width: 1024px) {
    header {
        height: 7%;
    }
    .nav h2 {
        margin-left: .5em;
    }
    .home {
        height: 100%;
    }
    .home h1 {
        font-size: 3.5em;
    }
    .about {
        width: 100%;
        height: 70%;
        flex-flow: row;
        flex-wrap: nowrap;
        padding-top: 0;
        align-content: flex-end;
    }
    .aboutImage1 img {
        width: 30%;
        height: 30%;
        float: left;
    }
    #largeScreenImg {
        display: none;
    }
    .aboutMeDiv {
        height: 55%;
        width: 100%;
        background-color: #4F9BFD;
        margin-top: 15px;
    }
    .aboutMeDiv h1 {
        padding-top: 0;
        text-align: center;
        font-size: 3em;
        line-height: .5em;
        color: rgb(0, 0, 0);
    }
    .aboutMeDiv h2 {
        text-align: center;
        line-height: 2.4em;
        font-size: 2em;
        padding: 6px;
        color: rgb(0, 0, 0);
    }
    .work {
        height: 160%;
        display: block;
    }
    .projectsLeft {
        display: block;
        margin-left: 0;
        width: 100%;
        height: auto;
    }
    .projectsLeft h1 {
        display: inline-block;
        margin-top: 3%;
        text-align: center;
        font-size: 2.5em;
    }
    .projectsLeft button {
        max-width: 50%;
        margin: auto;
        display: table;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .projectsLeft h2 {
        display: block;
        margin: 0;
        padding: 5px;
        text-align: center;
        font-size: 1.5em;
        line-height: 1.5em;
    }
    .displayProjectsRight {
        width: 80%;
        height: 60%;
        display: block;
        margin-left: 10%;
        background-size: 100%;
    }
    .monitorDisplay {
        position: relative;
        top: 26px;
        left: 25px;
        height: 54%;
        width: 94%;
        display: block;
        /*background-color: blue;*/
    }
    #golf img {
        height: 100%;
        width: 100%;
    }
    #cti img {
        width: 100%;
        height: 100%;
    }
    .buttonDiv {
      position: absolute;
      z-index: 2;
      top: 50%;
      width: 100%;
    }
    #forward {
      float: right;
      font-size: 4em;
    }
    #back {
      float: left;
      font-size: 4em;
    }
    .contact {
        display: block;
        background-color: rgb(110, 155, 211);
        height: 40%;
    }
    .contact h1 {
        padding-top: 10px;
        text-align: center;
        font-size: 2.5em;
    }
    .contact h2 {
        display: block;
        padding-top: 20px;
        width: 300px;
        margin: auto;
        text-align: center;
        font-size: 2.0em;
    }
    .contact a {
        display: inline-block;
        height: 100px;
        width: 100px;
        margin: 5% 0 0 10%;
    }
    #linkedin img {
        padding-bottom: 40px;
        width: 110%;
    }
    #firsta {
        margin-left: 25%;
    }
    .contact img {
        width: 100%;
    }
    footer {
        height: 6em;
    }
    footer h1 {
        font-size: 1.5em;
        text-align: center;
        padding-top: 40px;
    }
}

@media screen and (max-width: 780px) {
    .home {
        height: 58%;
    }
    header {
        height: 6%;
    }
    .nav h2 {
        margin-left: .5em;
    }
    .home h1 {
        font-size: 3em;
    }
    .about {
        width: 100%;
        height: 100%;
        flex-flow: row;
        flex-wrap: nowrap;
        padding-top: 0;
        align-content: flex-end;
    }
    .aboutImage1 img {
        float: left;
        width: 40%;
        height: 40%;
    }
    #largeScreenImg {
        display: none;
    }
    .aboutMeDiv {
        height: 90%;
        width: 100%;
        background-color: #4F9BFD;
    }
    .aboutMeDiv h1 {
        padding-top: 0;
        text-align: center;
        font-size: 3em;
        line-height: .5em;
        color: rgb(0, 0, 0);
    }
    .aboutMeDiv h2 {
        text-align: center;
        line-height: 2.4em;
        font-size: 1.6em;
        padding: 6px;
        color: rgb(0, 0, 0);
    }
    .work {
        height: 120%;
        display: block;
    }
    .projectsLeft {
        display: block;
        width: 100%;
        height: auto;
    }
    .projectsLeft h1 {
        display: block;
        padding-top: 10px;
        text-align: center;
        font-size: 2.5em;
    }
    .projectsLeft button {
        display: table;
        font-size: 2.5em;
        color: rgb(0, 0, 0);
        margin: auto;
        padding: 10px;
        margin-top: 5%;
        margin-bottom: 5%;
        line-height: 1.5em;
    }
    .projectsLeft h2 {
        display: block;
        margin: 0;
        padding: 5px;
        text-align: center;
        font-size: 1.5em;
        line-height: 1.5em;
    }
    .displayProjectsRight {
        width: 80%;
        height: 50%;
        display: block;
        margin-left: 10%;
    }
    .monitorDisplay {
        position: relative;
        top: 21px;
        left: 18px;
        height: 46%;
        width: 94%;
        display: block;
        /*background-color: blue;*/
    }
    #golf img {
        height: 100%;
        width: 100%;
    }
    #cti img {
        width: 100%;
        height: 100%;
    }
    .buttonDiv {
      position: absolute;
      z-index: 2;
      top: 50%;
      width: 100%;
    }
    #forward {
      float: right;
      font-size: 4em;
    }
    #back {
      float: left;
      font-size: 4em;
    }
    .contact {
        display: block;
        background-color: rgb(110, 155, 211);
        height: 40%;
        text-align: center;
    }
    .contact h1 {
        display: block;
        font-size: 2.5em;
    }
    .contact h2 {
        display: block;
        padding-top: 20px;
        font-size: 2.0em;
    }
    .contact a {
        display: inline-block;
        height: 100px;
        width: 100px;
        margin: 10% 0 0 10%;
    }
    #linkedin img {
        padding-bottom: 40px;
        width: 110%;
    }
    #firsta {
        margin: 0;
    }
    .contact img {
        width: 100%;
    }
    footer {
        height: 6em;
    }
    footer h1 {
        font-size: 1.5em;
        text-align: center;
        padding-top: 40px;
    }
}

@media screen and (max-width: 740px) {
    header {
        height: 6%;
    }
    .nameLink {
        font-size: 1.5em;
    }
    .nav h2 {
        font-size: 1.5em;
        margin-left: .5em;
    }
    .home {
        height: 100%;
    }
    .home h1 {
        font-size: 2.3em;
    }
    .about {
        width: 100%;
        height: 100%;
    }
    .aboutImage1 img {
        float: left;
        width: 35%;
        height: 40%;
    }
    #largeScreenImg {
        display: none;
    }
    .aboutMeDiv {
        height: 90%;
        width: 100%;
        background-color: #4F9BFD;
    }
    .aboutMeDiv h1 {
        padding-top: 0;
        text-align: center;
        font-size: 2.6em;
        line-height: .5em;
    }
    .aboutMeDiv h2 {
        text-align: center;
        line-height: 1.8em;
        font-size: 1.6em;
    }
    .work {
        height: 250%;
        display: block;
    }
    .projectsLeft {
        display: block;
        width: 100%;
    }
    .projectsLeft h1 {
        display: block;
        padding-top: 10px;
        text-align: center;
        font-size: 2.5em;
    }
    .projectsLeft h2 {
        display: block;
        margin: 0;
        padding: 5px;
        text-align: center;
        font-size: 1.5em;
        line-height: 1.5em;
    }
    .displayProjectsRight {
        width: 80%;
        height: 50%;
        display: block;
        margin-left: 10%;
    }
    .monitorDisplay {
        position: relative;
        top: 3.5%;
        left: 2.8%;
        height: 58%;
        width: 94%;
        display: block;
        /*background-color: blue;*/
    }
    #golf img {
        height: 100%;
        width: 100%;
    }
    #cti img {
        width: 100%;
        height: 100%;
    }
    .buttonDiv {
      position: absolute;
      z-index: 2;
      top: 40%;
      width: 100%;
    }
    #forward {
      float: right;
      font-size: 3em;
    }
    #back {
      float: left;
      font-size: 3em;
    }
    .contact {
        display: block;
        height: 90%;
        background-color: rgb(110, 155, 211);
    }
    .contact h1 {
        padding-top: 10px;
        text-align: center;
        font-size: 2.5em;
    }
    .contact h2 {
        display: block;
        padding-top: 20px;
        width: 300px;
        margin: auto;
        text-align: center;
        font-size: 2.0em;
    }
    .contact a {
        display: inline-block;
        height: 100px;
        width: 100px;
        margin: 10% 0 0 14%;
    }
    #linkedin img {
        padding-bottom: 40px;
        width: 110%;
    }
    .contact img {
        width: 100%;
    }
    footer h1 {
        font-size: 1.5em;
        text-align: center;
        padding-top: 40px;
    }
}

@media screen and (max-width: 568px) {
    header {
        height: 6%;
    }
    .nameLink {
        font-size: 1.5em;
    }
    .nav h2 {
        font-size: 1.5em;
        margin-left: .5em;
    }
    .home {
        height: 100%;
    }
    .home h1 {
        font-size: 2em;
    }
    .about {
        width: 100%;
        height: 130%;
        flex-flow: row;
        flex-wrap: nowrap;
        padding-top: 0;
        align-content: flex-end;
    }
    .aboutImage1 img {
        float: left;
        width: 35%;
        height: 40%;
    }
    #largeScreenImg {
        display: none;
    }
    .aboutMeDiv {
        height: 70%;
        width: 100%;
        background-color: #4F9BFD;
    }
    .aboutMeDiv h1 {
        padding-top: 0;
        text-align: center;
        font-size: 2.6em;
        line-height: .5em;
    }
    .aboutMeDiv h2 {
        text-align: center;
        line-height: 1.8em;
        font-size: 1.6em;
    }
    .work {
        height: 300%;
        display: block;
    }
    .projectsLeft {
        display: block;
        width: 100%;
        height: auto;
    }
    .projectsLeft h1 {
        display: block;
        padding-top: 10px;
        text-align: center;
        font-size: 2.5em;
    }
    .projectsLeft h2 {
        display: block;
        margin: 0;
        padding: 5px;
        text-align: center;
        font-size: 1.5em;
        line-height: 1.5em;
    }
    .displayProjectsRight {
        width: 80%;
        height: 45%;
        display: block;
        margin-left: 10%;
    }
    .monitorDisplay {
        position: relative;
        top: 3.0%;
        left: 2.8%;
        height: 45%;
        width: 94%;
        display: block;
        /*background-color: blue;*/
    }
    #golf img {
        height: 100%;
        width: 100%;
    }
    #cti img {
        width: 100%;
        height: 100%;
    }
    .buttonDiv {
      position: absolute;
      z-index: 2;
      top: 40%;
      width: 100%;
    }
    #forward {
      float: right;
      font-size: 3em;
    }
    #back {
      float: left;
      font-size: 3em;
    }
    .contact {
        display: block;
        height: 90%;
        background-color: rgb(110, 155, 211);
    }
    .contact h1 {
        padding-top: 10px;
        text-align: center;
        font-size: 2.5em;
    }
    .contact h2 {
        display: block;
        padding-top: 20px;
        width: 300px;
        margin: auto;
        text-align: center;
        font-size: 2.0em;
    }
    .contact a {
        display: inline-block;
        height: 100px;
        width: 100px;
        margin: 5% 0 0 14%;
    }
    #linkedin img {
        padding-bottom: 40px;
        width: 110%;
    }
    .contact img {
        width: 100%;
    }
    footer h1 {
        font-size: 1.5em;
        text-align: center;
        padding-top: 40px;
    }
}

@media screen and (max-width: 420px) {
    header {
        height: 5%;
    }
    .nameLink {
        font-size: 1.5em;
    }
    .nav h2 {
        font-size: 1.5em;
        margin-left: .5em;
    }
    .home {
        display: block;
        height: 45%;
        width: 100%;
    }
    .homeContent {
        display: inline-block;
    }
    .home h1 {
        font-size: 1.5em;
    }
    .about {
        width: 100%;
        height: 100%;
        padding-top: 4%;
    }
    .aboutImage1 img {
        float: left;
        width: 40%;
    }
    #largeScreenImg {
        display: none;
    }
    .aboutMeDiv {
        padding: 0;
        height: 90%;
        width: 100%;
        background-color: #4F9BFD;
    }
    .aboutMeDiv h1 {
        padding: 0;
        text-align: center;
        font-size: 2.5em;
        line-height: .5em;
    }
    .aboutMeDiv h2 {
        padding: 0;
        text-align: center;
        line-height: 1.8em;
        font-size: 1.6em;
    }
    .work {
        height: 110%;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .projectsLeft {
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
        padding-top: 3%;
    }
    .projectsLeft h1 {
        display: inline;
        font-size: 2.5em;
    }
    .projectsLeft button {
        display: table;
        font-size: 1.5em;
        padding: 5px 15px 5px 15px;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .projectsLeft h2 {
        display: block;
        margin: 0;
        text-align: center;
        font-size: 1em;
        line-height: 1.5em;
    }
    .displayProjectsRight {
        width: 80%;
        height: 55%;
        display: block;
        margin-left: 10%;
    }
    .monitorDisplay {
        position: relative;
        top: 2.6%;
        left: 2.7%;
        height: 40%;
        width: 94%;
        display: block;
    }
    #golf img {
        height: 100%;
        width: 100%;
    }
    #cti img {
        width: 100%;
        height: 100%;
    }
    .buttonDiv {
      position: absolute;
      z-index: 2;
      top: 40%;
      width: 100%;
    }
    #forward {
      float: right;
      font-size: 3em;
    }
    #back {
      float: left;
      font-size: 3em;
    }
    .contact {
        display: block;
        background-color: rgb(110, 155, 211);
    }
    .contact h1 {
        padding-top: 10px;
        text-align: center;
        font-size: 2.5em;
    }
    .contact h2 {
        display: inline-block;
        margin-top: 10px;
        text-align: center;
        font-size: 2.0em;
    }
    .contact a {
        display: table;
        height: 100px;
        width: 100px;
        margin: 2% 0 0 0;
    }
    #firsta {
        margin-top: 10%;
        margin-left: 38%;
    }
    #linkedin {
        padding-top: 40px;
        margin-left: 38%;
    }
    #github {
        margin: 0 0 10% 38%;
    }
    .contact img {
        display: block;
    }
    footer h1 {
        font-size: 1.5em;
        text-align: center;
        padding-top: 40px;
        color: rgb(0, 0, 0);
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
    header {
        height: 7%;
    }
    .nameLink {
        font-size: 1.5em;
    }
    .nav h2 {
        font-size: 1.5em;
        margin-left: .5em;
    }
    .home {
        height: 100%;
    }
    .home h1 {
        font-size: 2.3em;
    }
    .about {
        width: 100%;
        height: 100%;
    }
    .aboutImage1 img {
        float: left;
        width: 35%;
        height: 40%;
    }
    #largeScreenImg {
        display: none;
    }
    .aboutMeDiv {
        height: 90%;
        width: 100%;
        background-color: #4F9BFD;
    }
    .aboutMeDiv h1 {
        padding-top: 0;
        text-align: center;
        font-size: 2.6em;
        line-height: .5em;
    }
    .aboutMeDiv h2 {
        text-align: center;
        line-height: 1.8em;
        font-size: 1.6em;
    }
    .work {
        height: 300%;
        display: block;
    }
    .projectsLeft {
        display: block;
        width: 100%;
    }
    .projectsLeft h1 {
        display: block;
        padding-top: 10px;
        text-align: center;
        font-size: 2.5em;
    }
    .projectsLeft h2 {
        display: block;
        margin: 0;
        padding: 5px;
        text-align: center;
        font-size: 1.5em;
        line-height: 1.5em;
    }
    .displayProjectsRight {
        width: 80%;
        height: 50%;
        display: block;
        margin-left: 10%;
    }
    .monitorDisplay {
        position: relative;
        top: 3.5%;
        left: 2.8%;
        height: 58%;
        width: 94%;
        display: block;
        /*background-color: blue;*/
    }
    #golf img {
        height: 100%;
        width: 100%;
    }
    .buttonDiv {
      position: absolute;
      z-index: 2;
      top: 40%;
      width: 100%;
    }
    #forward {
      float: right;
      font-size: 3em;
    }
    #back {
      float: left;
      font-size: 3em;
    }
    #cti img {
        width: 100%;
        height: 100%;
    }
    .contact {
        display: block;
        height: 90%;
        background-color: rgb(110, 155, 211);
    }
    .contact h1 {
        padding-top: 10px;
        text-align: center;
        font-size: 2.5em;
    }
    .contact h2 {
        display: block;
        padding-top: 20px;
        width: 300px;
        margin: auto;
        text-align: center;
        font-size: 2.0em;
    }
    .contact a {
        display: inline-block;
        height: 100px;
        width: 100px;
        margin: 10% 0 0 14%;
    }
    #linkedin img {
        padding-bottom: 40px;
        width: 110%;
    }
    .contact img {
        width: 100%;
    }
    footer h1 {
        font-size: 1.5em;
        text-align: center;
        padding-top: 40px;
    }
}
